/* @charset "ISO-8859-1"; */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.login-container {
    width: 50%;
    margin: auto;
    border: 5px #999999 solid;
}

.login-body-container {
    width: 100%;
    padding: 10px;
    position:relative;
}

#close {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: larger;
    font-weight: bold;
}

img {
    display: block;
    width: 256px;
    height: 256px;
    margin: 10px auto;
    border: 1px solid;
}

form span {
    display: block;
    font-weight: bold;
    width: 100%;
    margin: 0px auto 10px auto;
}

.input-box {
    width: 100%;
    margin: 0px auto 10px auto;
}

form div {
    /* margin: 0px auto 10px auto; */
    /* border: 1px red solid; */
}

form div label {
    margin-left: 10px;
}

.submit-button {
    background-color: #67AC5B;
    color: #ffffff;
    width: 100%;
    margin: 0px auto 10px auto;
    padding: 5px;
    border: none;
}

.login-footer-container {
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
}

.login-footer-container input {
    background-color: #E25241;
    color: #ffffff;
    padding: 10px;
    border: none;
    float: left;
}

.login-footer-container a {
    display: block;
    float: right;
    padding: 10px;
}